@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="menu-page-title">
    <img class="menu-page-title-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/grants-icon.svg", true)" />
    <span class="menu-page-title-text">
        @Localizer["General Grants"]
    </span>
</div>

<div class="menu-page-introduction clearfix">
    <img class="menu-page-introduction-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/grants.svg", true)" />
    <div class="menu-page-title">
        <img class="menu-page-title-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/grants-icon.svg", true)" />
        <span class="menu-page-title-text">
            @Localizer["General Grants"]
        </span>
    </div>
    <div class="menu-page-introduction-title">
        @Localizer["Funding success"]
    </div>
    <div class="menu-page-introduction-description">
        <p><strong>@Localizer["The Neo General Grants Program is primarily focused on funding the development of tools and infrastructure for the Neo Blockchain."]</strong></p>
        <p>@Localizer["The Neo Foundation supports teams that are capable of executing outstanding blockchain software development initiatives that improve the Neo ecosystem.Examples include developer tools such as SDKs, nodes, layer2 protocols, IDE plugins, and infrastructure protocols.We expect teams and deliverables to be adoption driven, developer friendly, and delivered on - time."]</p>
    </div>
</div>

<div class="menu-page-divider"></div>

<div class="scopes">
    <div class="scope">
        <div class="scope-title">@Localizer["Project funding"]</div>
        <p>@Localizer["The average funding for a project is between $5,000 to $50,000, with the typical maximum funding around $100,000. However, if a project can provide extraordinary value to the Neo ecosystem, additional funding may be possible. Generally, the Neo Foundation decides the funding for a project based on the time, difficulty, importance or priority to the Neo ecosystem and the developer-friendly nature of the project. Most of the projects should be expected to be completed within 6 months."]</p>
        <p>@Localizer["Grants may be applied for in stages for new projects with complexity, or for existing projects with major new capabilities or upgrades.For existing projects, teams need to complete and deliver on the previous grant as described in their application before receiving additional funds.The Neo Foundation Grants Committee will decide whether to approve the new grant application."]</p>
</div>
    <div class="scope">
        <div class="scope-title">@Localizer["Opportunities & Priorities"]</div>
        <p>@Localizer["Neo is currently looking for talented developers to take on the following projects."]</p>
        <ul class="scope-items">
            <li>
                @Localizer["Infrastructure - Blockchain infrastructures serving the Neo ecosystem"]
            </li>
            <li>
                @Localizer["dApps - Projects built on Neo MainNet with a viable business model"]
            </li>
            <li>
                @Localizer["Blockchain Ecosystem - Potential blockchain ecosystem projects that can cooperate with Neo"]
            </li>
        </ul>
    </div>
</div>

<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    @Localizer["How to apply"]
</div>

<div class="menu-page-description">
    <strong>@Localizer["Projects or organizations that believe they fit the scope of the EcoBoost program are welcome to apply."]</strong>
</div>

<div class="application">
    <div class="application-start">
        <div class="application-start-title">
            @Localizer["If you are…"]
        </div>
        <ul class="application-start-items">
            <li>
                @Localizer["An established blockchain-based operation with substantial ties to the Neo ecosystem"]
            </li>
            <li>
                @Localizer["A project with a viable business model"]
            </li>
            <li>
                @Localizer["Looking for an investment in exchange for tokens or equity."]
            </li>
        </ul>
    </div>
    <div class="application-end">
        <i class="application-chevron iconfont">&#xe6ab;</i>
        <div class="application-end-title">
            @Localizer["EcoFund could provide…"]
        </div>
        <div class="application-end-items">
            <div class="application-end-item">
                <img class="application-end-item-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/checked.svg", true)" />
                <span class="application-end-item-text">
                    @Localizer["Funding opportunities to help you achieve your business goals"]
                </span>
            </div>
            <div class="application-end-item">
                <img class="application-end-item-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/checked.svg", true)" />
                <span class="application-end-item-text">
                    @Localizer["Incubation support"]
                </span>
            </div>
        </div>
    </div>
</div>

<div class="requirements-title">
    @Localizer["Application requirements"]
</div>

<div class="menu-page-description">
    <strong>@Localizer["If you feel your project is right for EcoFund, please contact NGD EcoGrowth with the following information:"]</strong>
</div>

<ul class="requirements">
    <li>
        @Localizer["Project or company name"]
    </li>
    <li>
        @Localizer["Team size, names, experience, and location"]
    </li>
    <li>
        @Localizer["Detailed information outlining:"]
        <ul class="requirements-sublist">
            <li>
                @Localizer["The nature of your project or business"]
            </li>
            <li>
                @Localizer["Your company structure"]
            </li>
            <li>
                @Localizer["Milestones you have achieved, along with short, medium, and long term goals"]
            </li>
            <li>
                @Localizer["Your unique value proposition"]
            </li>
            <li>
                @Localizer["Challenges you see in the short to medium term"]
            </li>
            <li>
                @Localizer["Size of current user or customer base"]
            </li>
        </ul>
    </li>
    <li>
        @Localizer["A detailed investment proposal including the amount of funding you are looking for and how much you are offering in equity / tokens."]
    </li>
    <li>
        @Localizer["Links to your website or application"]
    </li>
    <li>
        @Localizer["Main contact details"]
    </li>
</ul>

<div class="apply">
    <div class="apply-text">@Localizer["Apply for an investment now. NGD EcoGrowth will generally respond within one month."]</div>
    <a class="apply-btn btn-2 btn-small" href="mailto:eg@neo.org">
        @Localizer["Apply Now"]&nbsp;&nbsp;<i class="iconfont">&#xe6ab;</i>
    </a>
</div>


<div class="menu-page-divider"></div>

<div class="menu-page-secondary-title">
    @Localizer["EcoFund portfolio"]
</div>

<div class="menu-page-description">
    @Localizer["We are very proud of the projects in the EcoFund portfolio. We’d love to add your name to the list."]
</div>

<div class="menu-page-tertiary-title">
    @Localizer["Recently boosted projects"]
</div>

<div class="projects">
    <i class="projects-controller-left iconfont">&#xe61c;</i>
    <i class="projects-controller-right iconfont">&#xe61b;</i>
    <div class="projects-content oneline">
        <div class="project">
            <a href="https://nash.io/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Nash.png", true)" />
            </a>
            <div class="project-name">Nash</div>
        </div>
        <div class="project">
            <a href="https://moonlight.io/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Moonlight.png", true)" />
            </a>
            <div class="project-name">Moonlight</div>
        </div>
        <div class="project">
            <a href="https://qlcchain.org/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/QLC Chain.svg", true)" />
            </a>
            <div class="project-name">QLC Chain</div>
        </div>
        <div class="project">
            <a href="https://phantasma.io/home">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Phantasma.png", true)" />
            </a>
            <div class="project-name">Phantasma</div>
        </div>
        <div class="project">
            <a href="https://switcheo.network/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Switcheo.png", true)" />
            </a>
            <div class="project-name">Switcheo</div>
        </div>
        <div class="project">
            <a href="https://o3.network/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/O3.png", true)" />
            </a>
            <div class="project-name">O3</div>
        </div>
        <div class="project">
            <a href="https://www.liquefy.com/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Liquefy.png", true)" />
            </a>
            <div class="project-name">Liquefy</div>
        </div>
        <div class="project">
            <a href="https://polkadot.network/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Polkadot.svg", true)" />
            </a>
            <div class="project-name">Polkadot</div>
        </div>
        <div class="project">
            <a href="https://cryptobriefing.com/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/CryptoBriefing.png", true)" />
            </a>
            <div class="project-name">Crypto Briefing</div>
        </div>
        <div class="project">
            <a href="https://republic.co/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Republic.png", true)" />
            </a>
            <div class="project-name">Republic</div>
        </div>
        <div class="project">
            <a href="https://cobo.com/">
                <img class="project-img" src="@Helper.ToCDN("/images/transparent.png")" data-original="@Helper.ToCDN("/images/eco/logos/Cobo.png", true)" />
            </a>
            <div class="project-name">Cobo</div>
        </div>
    </div>
</div>

